<!DOCTYPE html>
<html>
<head>
    <title>Monitor de Ativos - Consultar Ativos</title>
</head>
<body>
    <h1>Monitor de Ativos - Consultar Ativos</h1>
    
    <h2>Ativos Monitorados:</h2>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Máxima</th>
            <th>Mínima</th>
            <th>Data e Hora</th>
        </tr>
        {% for ativo in ativos %}
        <tr>
            <td>{{ ativo.symbol }}</td>
            <td>{{ ativo.longName }}</td>
            <td>{{ ativo.cotacoes.regularMarketPrice }}</td>
            <td>{{ ativo.cotacoes.regularMarketDayHigh }}</td>
            <td>{{ ativo.cotacoes.regularMarketDayLow }}</td>
            <td>{{ ativo.cotacoes.regularMarketTime }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
