{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Monitor de Ativos - Consultar Ativos</title>
</head>
<body>
    <h1>Monitor de Ativos - Consultar Ativos</h1>

    <h2>Ativos Monitorados:</h2>
    
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Máxima</th>
            <th>Mínima</th>
            <th>Data e Hora</th>
        </tr>
    
        {% for cotacao in latest_cotacoes %}
            <tr>
                <td>{{ cotacao.ativo.symbol }}</td>
                <td>{{ cotacao.ativo.nome }}</td>
                <td>{{ cotacao.regularMarketPrice }}</td>
                <td>{{ cotacao.regularMarketDayHigh }}</td>
                <td>{{ cotacao.regularMarketDayLow }}</td>
                <td>{{ cotacao.regularMarketTime|date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
