{% extends 'investimentos/base.html' %}
{% load static %}

{% block title %}Consultar Ativos{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/consultar_ativos.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="table-container">
            <!-- Tabela de cotações -->
            <h2>Consultar Ativos:</h2>
            <form method="GET">
                <input type="text" name="ativo_search" placeholder="Digite o código do ativo...">
                <button type="submit" value="Buscar">Buscar</button>
            </form>
            <h3>Resultado da Busca:</h3>
            <table>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Máxima</th>
                    <th>Mínima</th>
                    <th>Data e Hora</th>
                </tr>
            
                {% for cotacao in search_results %}
                    <tr>
                        <td>{{ cotacao.ativo.symbol }}</td>
                        <td>{{ cotacao.ativo.nome }}</td>
                        <td>{{ cotacao.regularMarketPrice }}</td>
                        <td>{{ cotacao.regularMarketDayHigh }}</td>
                        <td>{{ cotacao.regularMarketDayLow }}</td>
                        <td>{{ cotacao.regularMarketTime|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="pagination">
                {% if search_results.has_previous %}
                    <a href="?ativo_search={{ request.GET.ativo_search }}&page=1">&laquo; Primeira</a>
                    <a href="?ativo_search={{ request.GET.ativo_search }}&page={{ search_results.previous_page_number }}">Anterior</a>
                {% endif %}

                {% if search_results.has_next %}
                    <a href="?ativo_search={{ request.GET.ativo_search }}&page={{ search_results.next_page_number }}">Próxima</a>
                {% endif %}
            
                {% if search_results.has_next %}
                    <a href="?ativo_search={{ request.GET.ativo_search }}&page={{ search_results.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </div>
        </div>
        <div class="graph-container">
            <h2>Gráfico de Preço X Data:</h2>
            <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Gráfico de Preço X Data">
        </div>
    </div>
{% endblock %}
