{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
</head>
<body>
    <form method="post">
        <h2>Login</h2>
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" required>
        <br>
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <p>Ainda não tem uma conta? <a href="{% url 'registro' %}">Registre-se</a></p>
</body>
</html>
