{% extends 'investimentos/base.html' %}

{% load static %}

{% block title %}
    Monitor de Ativos
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/monitorar_ativos.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'salvar_ativo' %}">
        {% csrf_token %}
        <label for="ativo">Nome do Ativo:</label>
        <select name="ativo" id="ativoSelect" required>
        <option value="" disabled selected>Selecione um ativo</option>
        {% for codigo in codigos %}
            <option value="{{ codigo }}">{{ codigo }}</option>
        {% endfor %}
    </select>
        
        <label for="limite_inferior">Limite Inferior:</label>
        <input type="number" name="limite_inferior" required>
        
        <label for="limite_superior">Limite Superior:</label>
        <input type="number" name="limite_superior" required>
        
        <label for="periodicidade">Periodicidade:</label>
        <input type="number" name="periodicidade" required>
        
        <input type="submit" value="Salvar">
    </form>

    <div class="configuracoes-table">
        <div class="configuracoes">
            <h1>Monitor de Ativos:</h1>
            <!-- Exibindo as configurações dos ativos -->
            <ul>
                {% for configuracao in configuracoes %}
                    <li class="configuracao-item">
                        <div class="configuracao-info">
                            <p>{{ configuracao.symbol }} - Limite Inferior: {{ configuracao.limite_inferior }} - Limite Superior: {{ configuracao.limite_superior }}</p>
                        </div>
                        <form method="POST" action="{% url 'remover_ativo' configuracao.id %}">
                            {% csrf_token %}
                            <button class="remove-button" type="submit">X</button>
                        </form>
                    </li>
                {% empty %}
                    <li>Nenhuma configuração de ativo encontrada.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Tabela para exibir as últimas cotações -->
        <div class="ultimas-cotacoes">
            <h1>Últimas Cotações:</h1>
            <table>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Máxima</th>
                    <th>Mínima</th>
                    <th>Data e Hora</th>
                </tr>
                {% for cotacao in latest_cotacoes %}
                    <tr>
                        <td>{{ cotacao.ativo.symbol }}</td>
                        <td>{{ cotacao.ativo.nome }}</td>
                        <td>{{ cotacao.regularMarketPrice }}</td>
                        <td>{{ cotacao.regularMarketDayHigh }}</td>
                        <td>{{ cotacao.regularMarketDayLow }}</td>
                        <td>{{ cotacao.regularMarketTime|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if configuracoes.has_previous %}
                    <a class="pagination-link" href="?page=1">Primeira</a>
                    <a class="pagination-link" href="?page={{ configuracoes.previous_page_number }}">Anterior</a>
                {% endif %}
                
                {% if configuracoes.has_next %}
                    <a class="pagination-link" href="?page={{ configuracoes.next_page_number }}">Próxima</a>
                    <a class="pagination-link" href="?page={{ configuracoes.paginator.num_pages }}">Última</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
