{% extends 'investimentos/base.html' %}

{% load static %}

{% block title %}
    Monitor de Ativos
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'styles/monitorar_ativos.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'salvar_ativo' %}">
        {% csrf_token %}
        <label for="asset">Nome do Ativo:</label>
        <select name="asset" id="ativoSelect" required>
        <option value="" disabled selected>Selecione um ativo</option>
        {% for code in codes %}
            <option value="{{ code }}">{{ code }}</option>
        {% endfor %}
    </select>
        
        <label for="lower_limit">Limite Inferior:</label>
        <input type="number" name="lower_limit" required>
        
        <label for="upper_limit">Limite Superior:</label>
        <input type="number" name="upper_limit" required>
        
        <label for="periodicity">Periodicidade:</label>
        <input type="number" name="periodicity" required>
        
        <input type="submit" value="Salvar">
    </form>

    <div class="configuracoes-table">
        <div class="configuracoes">
            <h1>Monitor de Ativos:</h1>
            <!-- Exibindo as configurações dos ativos -->
            <ul>
                {% for config in configs %}
                    <li class="configuracao-item">
                        <div class="configuracao-info">
                            <p>{{ config.symbol }} - Limite Inferior: {{ config.lower_limit }} - Limite Superior: {{ config.upper_limit }}</p>
                        </div>
                        <form method="POST" action="{% url 'remover_ativo' config.id %}">
                            {% csrf_token %}
                            <button class="remove-button" type="submit">X</button>
                        </form>
                    </li>
                {% empty %}
                    <li>Nenhuma configuração de ativo encontrada.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Tabela para exibir as últimas cotações -->
        <div class="ultimas-cotacoes">
            <h1>Últimas Cotações:</h1>
            <table>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Máxima</th>
                    <th>Mínima</th>
                    <th>Data e Hora</th>
                </tr>
                {% for quotation in latest_quotations %}
                    <tr>
                        <td>{{ quotation.asset.symbol }}</td>
                        <td>{{ quotation.asset.name }}</td>
                        <td>{{ quotation.regularMarketPrice }}</td>
                        <td>{{ quotation.regularMarketDayHigh }}</td>
                        <td>{{ quotation.regularMarketDayLow }}</td>
                        <td>{{ quotation.regularMarketTime|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if configs.has_previous %}
                    <a class="pagination-link" href="?page=1">Primeira</a>
                    <a class="pagination-link" href="?page={{ configs.previous_page_number }}">Anterior</a>
                {% endif %}
                
                {% if configs.has_next %}
                    <a class="pagination-link" href="?page={{ configs.next_page_number }}">Próxima</a>
                    <a class="pagination-link" href="?page={{ configs.paginator.num_pages }}">Última</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
